<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Pizzaria</title>
</head>
<body>
    <h2>Login</h2>
    <form method="POST" action="/login">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="senha" placeholder="Senha">
        <button type="submit">Entrar</button>
    </form>
    <% if (erro) { %>
        <p style="color:brown"><%= erro %></p>
    <% } %>
    </body>
</html>